# ShellCheck configuration
# https://www.shellcheck.net/wiki/

# Shell dialect (Bash-01-01)
shell=bash

# Enable extended checks
# Bash-03-01: Use ${var} instead of $var
enable=require-variable-braces

# Disable checks that conflict with our conventions or are too noisy
# SC1090 - Can't follow non-constant source
# SC1091 - Not following sourced file
# SC2034 - Variable appears unused (false positives)
# SC2155 - Declare and assign separately (style preference)
disable=SC1090,SC1091,SC2034,SC2155

# === Rule to SC Code Mapping ===
#
# +------------+-------------------+-------------------------------------+
# | Rule ID    | SC Code           | Description                         |
# +------------+-------------------+-------------------------------------+
# | Bash-03-01 | require-var-brace | Use ${var} not $var                 |
# | Bash-03-05 | SC2086            | Quote variables                     |
# | Bash-04-01 | SC2086, SC2046    | Quote strings with variables        |
# | Bash-04-03 | SC2086            | Quote file paths                    |
# | Bash-06-05 | SC2039, SC3010    | Use [[ ]] not [ ]                   |
# | Bash-07-01 | SC2006            | Use $() not backticks               |
# | Bash-08-04 | SC2230            | Use command -v, not which           |
# | Bash-10-01 | SC2164            | Handle cd failures                  |
# | Bash-10-06 | SC2034            | Declare associative arrays          |
# +------------+-------------------+-------------------------------------+
